
include:
  - component: gitlab.com/melodium/gitlab-ci/melodium-local-distrib@v0.9.2
    inputs:
      melodium_images_pull_source: registry.gitlab.com/melodium/containers
      version: 0.10.0
      job_name: melodium-ci
      command: run ./Compo.toml advanced --api_token "\"$CADENCE_API_TOKEN\"" --repository_clone_url "\"$CI_REPOSITORY_URL\"" --repository_clone_ref "\"$CI_COMMIT_REF_NAME\"" --output_directory '"output"'

melodium-ci:
  artifacts:
    paths:
      - output
