name: melodium-ci

on:
  push:

jobs:
  melodium:
    uses: melodium-tech/github-actions/.github/workflows/melodium-local-distrib.yml@v0.9.2
    with:
      command: |
        run .melodium-ci/Compo.toml --api_token "\"$CADENCE_API_TOKEN\"" --repository_clone_url '${{ toJSON(github.repositoryUrl) }}' --repository_clone_ref '${{ toJSON(github.ref) }}' --output_directory '"output"' 
      artifact-path: 'output/'
